.logo-loading {
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0 px;
  box-sizing: border-box;
}

.top-loading {
  display: flex;
  padding-left: 50px;
}

.top-green-loading {
  display: flex;
  padding-left: 37px;
}

.circle-logo-loading {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  position: relative;
}

.circle-logo-loading::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fafafa;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pink-loading {
  background: #cc5e8d;
}

.green-loading {
  background: #778d4f;
}

.bottom-loading {
  display: flex;
  padding-top: 4px;
}

.triangle-loading {
  width: 167px;
  height: 200px;
  position: relative;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.triangle-loading.pink-loading {
  background: #cc5e8d;
}

.triangle-loading.green-loading {
  background: #778d4f;
  transform: rotate(180deg);
}

.triangle-loading::after {
  content: "";
  position: absolute;
  width: 55%;
  height: 55%;
  left: 22.5%;
  top: 32%;
  background: #fafafa;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

#pallina1 {
  animation: balls-animation 2.3s infinite;
}

#pallina2 {
  animation: balls-animation 2.3s infinite 0.3s;
}

#pallina3 {
  animation: balls-animation 2.3s infinite 0.6s;
}

#pallina4 {
  animation: balls-animation 2.3s infinite 0.9s;
}

@keyframes balls-animation {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, -3em);
  }

  100% {
    transform: translate(0, 0);
  }
}
